.selectedPage {
    font-weight: bold;
}
table {
    font-size: 14px;
    text-align: left;
    /* box-shadow: 0 0 0 10px #F2906B; */
    color: white;
    margin: auto;
}
th {
    padding: 10px 8px;
    /* background: white; */
}

td {
    /* border-top: 10px solid #F2906B; */
    padding: 8px;
    /* background: white; */
}
